/*

Para cambiar el estilo de documentos HTML que incluyen hola.css
basta cambiar las definiciones, y los cambios se reflejarán
** sin tener que cambiar el documento HTML**!

*/


/* Todos los enlaces de color cyan */
a {
  color: cyan;  
}

/* Pero más específico, todos los enlaces dentro
de una lista no ordenada seran verdes */
ul a {
  color: green;
}
